@import "kayak.css";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.fa-bars,
.fa-xmark {
  cursor: pointer;
}

.contact-banner {
  background-image: url("https://images.unsplash.com/photo-1476990789491-712b869b91a5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1030");
  text-align: center;
  background-size: cover;

  padding-top: 150px;
  height: 400px;
}

.container {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

nav {
  position: fixed;
  top: 0px;
  // background-color: rgba(27, 30, 33, 0.965);
  width: 100%;
  z-index: 999;

  .row {
    padding: 1rem 2rem;
  }

  .header-image {
    background-image: url("logo5.png");
    width: 120px;
    height: 50px;
    background-size: cover;
  }
  i {
    color: white;
  }
}

@mixin button-layout {
  font-family: "Raleway", sans-serif;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
}

@mixin button-layout {
  font-family: "Raleway", sans-serif;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.button-dark {
  background-color: rgba(222, 230, 241, 0.241);
  color: rgb(0, 0, 0);
  border: 2.5px rgb(0, 0, 0) solid;
  transition: all 0.5s;
  @include button-layout();
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  &:hover {
    background-color: black;
    a {
      color: white;
    }
  }
}

.button-light {
  background-color: rgba(0, 0, 0, 0.634);
  color: white;
  border: 2.5px white solid;
  transition: all 0.5s;
  @include button-layout();
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background-color: white;
    a {
      color: black;
    }
  }
}
h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
  line-height: 0.9em;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (min-width: 720px) {
    font-size: 6rem;
  }
}

h2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase !important;

  @media (min-width: 720px) {
    font-size: 30px;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 35px;

  @media (min-width: 720px) {
    font-size: 50px;
  }

  a {
    color: white !important;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
  }
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 39px;
  letter-spacing: -4.6px;

  @media (min-width: 600px) {
    font-size: 50px;
    letter-spacing: -5.4px;
  }
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.7em;
  font-weight: 500;
  color: rgb(48, 52, 58);
}

#background-video {
  width: 100vw;
  height: 100vh;
  max-height: 100vh !important;
  object-fit: cover;
  z-index: -2;
  overflow: hidden;

  @media (max-width: 720px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@mixin half-page {
  text-align: center;
  max-width: 1100px;

  &__inner {
    p {
      padding: 0.5em 0;
    }
  }

  .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .col-md-6 {
    padding: 0;
    margin: 0;
  }
}

// .hiding-block {
//   @media (max-width: 720px) {
//     height: 130px;
//     position: absolute;
//     top: 100vh;
//     width: 100%;
//     background-color: rgb(152, 27, 27);
//     z-index: 9000;
//   }
// }

.second-section {
  text-align: center;
  @include half-page();
  padding-bottom: 10em;
  padding-top: 5em;
  width: 100%;
  width: 300px;

  @media (max-width: 720px) {
    padding-bottom: 7em;
    padding-top: 3.4em;
    margin-top: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    img {
      width: 200px;
    }
  }

  &__inner {
    text-align: left !important;
  }
}

.half-image-text .container {
  padding-top: 2em;
  padding-top: 2em;
}

.half-image-text {
  @include half-page();
  padding: 2em 0;

  &__container {
    padding: 10em 0;

    @media (max-width: 720px) {
      padding-bottom: 0;
      padding-top: 5em;
      margin-bottom: -3rem;
    }
  }

  &__text {
    @media (max-width: 720px) {
      text-align: left !important;
      img {
        width: 160px !important;
      }
    }
  }

  img {
    max-height: 400px;
    object-fit: cover;
  }

  &__hide-image {
    img {
      width: 100%;
    }
  }

  @media (max-width: 700px) {
    &__hide-image {
      display: none;
    }
  }
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.598);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.hero-banner {
  width: 100vw;
  // height: 100vh;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  &__title {
    margin-top: 30vh;
    min-height: 160px;
    // background-color: aqua;
  }
}

.grid-image {
  height: 300px;
  background-size: cover;
}

.grid-kayak-image {
  height: 300px;
  background-size: cover;

  @media (max-width: 600px) {
    height: 230px;
  }
}

.activities {
  .r {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
    }
  }
  &__activity {
    background-color: rgb(19, 36, 45);
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.612);
    transition: 0.5s;
    width: 100%;
    height: 100%;
    padding: 6em 0;
    margin: 0 !important;
    border: 0;
    cursor: pointer;

    @media (min-width: 600px) {
      padding: 8em 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.933);
    }
  }

  .first-activity {
    background-image: url("https://images.unsplash.com/photo-1571936804022-90d128047136?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2NvdGxhbmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500");
  }

  .second-activity {
    background-image: url("https://images.pexels.com/photos/3061171/pexels-photo-3061171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

  .third-activity {
    background-image: url("https://images.pexels.com/photos/2384576/pexels-photo-2384576.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

  .fourth-activity {
    background-image: url("https://images.pexels.com/photos/2880638/pexels-photo-2880638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
}

.first-kayak {
  background-image: url("https://images.unsplash.com/photo-1620829526529-cd0636b749cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-position: center;
}

.second-kayak {
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1536048810607-3dc7f86981cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
}

.third-kayak {
  background-image: url("https://images.unsplash.com/photo-1509099395498-a26c959ba0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHJpdmVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.fourth-kayak {
  background-image: url("https://images.unsplash.com/photo-1629248564797-8c5ba85da9d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.fifth-kayak {
  background-image: url("https://images.unsplash.com/photo-1588472235276-7638965471e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
}
.sixth-kayak {
  background-image: url("https://images.unsplash.com/photo-1627510774200-a35104e53268?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80");
  background-position: center;
}

.first-cycling {
  background-image: url("https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
  background-position: center;
}

.second-cycling {
  background-image: url("https://images.unsplash.com/photo-1605235185711-bf04486a4720?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.fourth-cycling {
  background-image: url("https://images.unsplash.com/photo-1452573992436-6d508f200b30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80");
  background-position: bottom;
}

.third-cycling {
  background-image: url("https://images.unsplash.com/photo-1631276893368-554b60393efb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
}

.second-trip {
  background-image: url("https://images.unsplash.com/photo-1551801691-f0bce83d4f68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
}

.first-trip {
  background-image: url("https://images.unsplash.com/photo-1589489873423-d1745278a8f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.fourth-trip {
  background-image: url("https://images.unsplash.com/photo-1524756614325-ab25ba59e6e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: bottom;
}

.third-trip {
  background-image: url("https://images.unsplash.com/photo-1505832018823-50331d70d237?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1508&q=80");
  background-position: center;
}

.text-js {
  opacity: 0;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Rest of CSS (Purely for this pen)
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.headline {
  margin: 20px;
  font-size: 32px;
  text-align: center;
}
// background-color: #aec2d1;

.testimony {
  // &__container {
  //   width: 1100px;
  //   margin: 0 auto;
  //   position: relative;
  //   z-index: 99999999999999999999;
  //   padding: 2rem;
  // }
  &__white {
    height: 200px;
    width: 100%;

    @media (max-width: 900px) {
      height: 500px;
    }
  }
  overflow: hidden;

  img {
    // height: 700px;
    position: relative;
    top: -200px;
    transform: translateX(20%);
    object-fit: cover;
    overflow: hidden;
    z-index: 9;
    max-width: 600px;
    float: right;
    @media (max-width: 900px) {
      transform: translateX(0);
      width: 100%;
      float: none;
      right: 0;
      top: -400px;
      height: auto;
    }
  }

  &__color {
    background-color: rgb(16, 16, 16);
    min-height: 600px;
    width: 70%;
    max-width: 1500px;
    transform: translateY(-650px);
    color: white;
    padding-top: 200px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 888;
    p {
      color: rgb(146, 146, 146);
    }

    @media (min-width: 768px) {
      padding-right: 0;
      padding-left: calc(50vw - 375px);
      padding-top: 140px;
    }

    @media (min-width: 992px) {
      padding-right: 0;
      padding-left: calc(50vw - 485px);
    }

    @media (min-width: 1200px) {
      padding-right: 20%;
      padding-left: calc(50vw - 520px);
    }

    @media (max-width: 900px) {
      width: 100%;
      padding-right: 2em;
      padding-left: 2em;
      padding-top: 20em;
      margin-bottom: -650px;
    }
  }
}

.blue {
  background-color: #d5d8db;
  width: 100%;
  height: 700px;
  position: relative;
  top: -600px;
  z-index: -1000;
  margin-bottom: -1200px;
  transform: translateY(-550px);
  @media (max-width: 900px) {
    display: none;
    margin-bottom: 0px;
  }
}

.CTA-button {
  background-color: rgb(16, 16, 16);
  padding-bottom: 9em;
  padding-top: 9em;
  color: white;
  text-align: center;

  p {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 200;
    font-size: 25px;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  @media (max-width: 720px) {
    // text-align: left;
  }
}

.CTA-button-light {
  background-color: #f1f5f8;
  padding-bottom: 9em;
  padding-top: 9em;
  text-align: center;
  background-size: cover;
  background-position: top;

  @media (max-width: 900px) {
    background-color: #eceff2;
  }

  @media (max-width: 720px) {
    text-align: left;
  }
  p {
    max-width: 800px;
    // color: rgb(48, 48, 48);
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}

//menu

.menu {
  // display: none;
  position: fixed;
  top: 0;
  right: -400px;
  width: 500px;
  transition: 0.7s ease-in-out;
  background-color: rgb(47, 50, 64);
  padding: 2rem;
  padding-right: 0;
  z-index: 9999;
  height: 100%;
  visibility: hidden;
  opacity: 0;

  @media (max-width: 500px) {
    width: 100% !important;
  }
  // transition: visibility 0s, opacity s linear;

  // transform: translateX(100%);

  ul {
    padding-top: 10vh;
    margin-left: 3rem;
  }

  .menu li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  i {
    color: #ffffff;
  }

  .fa-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.menu2 {
  transition: all 0.7s ease-in-out;
  padding: 2rem;
  padding-right: 0;
  z-index: 9999;
  height: 100%;
  margin-top: -100px;
  img {
    width: 90%;
    height: 600px;
    object-fit: cover;
    @media (max-width: 720px) {
      display: none;
    }
  }

  button {
    margin-top: 4em;
  }

  input {
    border: none;
    width: 100%;
    max-width: 500px;
    height: 4em;
    padding-top: 1.5em;

    border-bottom: 1px solid rgb(152, 152, 152);

    &::placeholder {
      font-size: 1rem;
      color: rgba(151, 151, 151, 0.761);
    }
  }

  textarea {
    background-color: rgba(224, 224, 224, 0.304);
    width: 100%;
    max-width: 500px;
    height: 100px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;

    &::placeholder {
      font-size: 1rem;
      padding: 1em;
      color: rgba(151, 151, 151, 0.761);
      font-family: "Raleway", sans-serif;
    }
  }

  .small {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 0.7rem;
  }
}

.overlay {
  background-color: rgba(165, 167, 188, 0.67);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 1s ease-in-out;
  z-index: 9998;
  display: none;
}

.overlay-visible {
  display: block;
  transition: 1s ease-in-out;
}

.jq-open-menu {
  top: 0;
  right: 0;
  width: 400px;
  overflow-x: hidden;
  transform: translateX(0);
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: block;
  visibility: visible !important;
  opacity: 1 !important;

  a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  i {
    color: #ffffff;
    transform: scale(0.9);
  }
}

.overflow {
  // margin: 0;
  // height: 100%;
  overflow: hidden;
}

//header

body > #header {
  position: fixed;
}

#header {
  position: fixed;
  z-index: 9000;
  overflow: auto;
  transition: all 0.15s linear;
  overflow: hidden;
}

#header.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: white;
  .header-image {
    background-image: url("logo-dark.png");
  }

  i {
    color: black;
  }
}

footer {
  padding-top: 11rem;
  background-color: rgb(16, 16, 16);
  color: rgb(185, 185, 185);
  font-family: "Raleway", sans-serif;
  padding-bottom: 5rem;

  img {
    width: 130px;
  }
  p {
    color: rgb(185, 185, 185);
  }
  .link {
    margin-bottom: 0.65em;
  }

  a {
    color: rgb(185, 185, 185);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .p {
    margin-bottom: 2rem;
  }

  .p2 {
    margin-bottom: 4rem;
  }

  @media (max-width: 500px) {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }
}

//animations

.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  background: #464646;
  color: #9e0f0f;
  text-align: center;
  margin: 1em auto;
  text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    width: 100%;
    // transform: scale(1);

    // -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    width: 100%;
    // transform: scale(1);

    // -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    width: 100%;
    // transform: scale(1);

    // -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);

    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
    // transform: scale(1);

    // transform: translateY(0);
  }
}

.animated.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px);
  }

  60% {
    -moz-transform: translateX(20px);
  }

  80% {
    -moz-transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-200px);
  }

  60% {
    opacity: 1;
    -o-transform: translateX(20px);
  }

  80% {
    -o-transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  60% {
    transform: translateX(20px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  60% {
    -webkit-transform: translateX(-20px);
  }

  80% {
    -webkit-transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  60% {
    -moz-transform: translateX(-20px);
  }

  80% {
    -moz-transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }

  60% {
    -o-transform: translateX(-20px);
  }

  80% {
    -o-transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    transform: translateX(-20px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
